<nav id="mainNav" style="padding: 0;" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="http://www.victorbrakauskas.com">
                <img class="author-thumb" src="http://blog.victorbrakauskas.com/images/heat.png" alt="Author image" nopin="nopin" />
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a href="http://www.victorbrakauskas.com/post/about/">About</a>
                </li>
                <li class="page-scroll">
                    <a href="http://photos.victorbrakauskas.com">Photos</a>
                </li>
                <li>
                    <a href="http://blog.victorbrakauskas.com">Tech things</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<div class="row"></div>
